<!DOCTYPE html>
<html lang="en" class="zcp-theme">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="icon" href="/icons/favicon_io/favicon.ico" />
  <link href="/tailwindcss/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  <!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> -->

  <script src="https://js.chargify.com/latest/chargify.js"></script>
  <script src="https://js.chargify.com/latest/chargify.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJ41SABsbpzg7DMktugzqFPcpGt2sphA&libraries=places">
  </script>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="map"></div>
  <div id="root">
    <style>
      .page-loading-warp {
        padding: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {}

    </style>
    <div class="page-loading-warp"></div>
  </div>
</body>

</html>
